In [17]:
import pandas as pd
import numpy as np
import boto3

In [ ]:
s3 = boto3.client('s3')
s3.download_file('BUCKET_NAME', 'OBJECT_NAME', 'FILE_NAME')

In [30]:
BUCKET_NAME = 'com.varunmuriyanat.csv.shootings'
BUCKET_FILE_NAME = 'shootings.csv'
LOCAL_FILE_NAME = 'shootings.csv'

def download_s3_file(BUCKET_NAME, BUCKET_FILE_NAME, LOCAL_FILE_NAME):
    s3 = boto3.client('s3')
    s3.download_file(BUCKET_NAME, BUCKET_FILE_NAME, LOCAL_FILE_NAME)
    

download_s3_file(BUCKET_NAME, BUCKET_FILE_NAME, LOCAL_FILE_NAME)

In [34]:
!ls

 archive.zip   lib			  pyvenv.cfg   shootings.csv
 bin	      'Linear Regression.ipynb'   README.md

In [32]:
df = pd.read_csv("shootings.csv")

In [33]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects